html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color:  #F7D94C;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.scoreBoard {
  color: #ffffff;
  font-size: 6vmin;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
.scoreBoard > span {
  margin-left: 10px;
}
.board {
  background-color: #f3da6a;
  border: 10px solid #FFB11B;
  height: 45vmin;
  width: 45vmin;
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;

}
.unit {
  background-color: #f3da6a;
  height: 3vmin;
  width: 3vmin;
}
.food {
  background-color: #F05E1C;
  border-radius: 50%;
}
.snake {
  background-color: #F596AA;
}
.fullPage {
  height: 100%;
  width: 100%;
  background-color: #00000059;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}
.startButton {
  box-sizing: border-box;
  background-color: rgb(243, 145, 109);
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid white;
  letter-spacing: 7px;
  cursor: pointer;
  width: 30vmin;
  height: 10vmin;
  font-size: 3vmin;
}
.startButton:hover {
  border: 5px dotted white;
}
.hidden {
  display: none;
}